In [17]:
file = open('CIT', mode='r')
data = file.read()
file.close()

In [61]:
file = open('EBL', mode='r')
ebl = file.read()
file.close()

In [71]:
file = open('MNBBL', mode='r')
mnbbl = file.read()
file.close()

In [79]:
file = open('NABIL', mode='r')
nabil = file.read()
file.close()

In [87]:
file = open('NHPC', mode='r')
nhpc = file.read()
file.close()

In [94]:
file = open('NLIC', mode='r')
nlic = file.read()
file.close()

In [100]:
file = open('NLICL', mode='r')
nlicl = file.read()
file.close()

In [106]:
file = open('PCBL', mode='r')
pcbl = file.read()
file.close()

In [112]:
file = open('PLIC', mode='r')
plic = file.read()
file.close()

In [118]:
file = open('SICL', mode='r')
sicl = file.read()
file.close()

In [63]:
import json

In [21]:
data = json.loads(data) # convert string dictionary to dictionary

In [64]:
ebl = json.loads(ebl)
type(ebl)

dict

In [72]:
mnbbl = json.loads(mnbbl)
type(mnbbl)

dict

In [80]:
nabil = json.loads(nabil)
type(nabil)

dict

In [88]:
nhpc = json.loads(nhpc)
type(nhpc)

dict

In [95]:
nlic = json.loads(nlic)
type(nlic)

dict

In [101]:
nlicl = json.loads(nlicl)
type(nlicl)

dict

In [107]:
pcbl = json.loads(pcbl)
type(pcbl)

dict

In [113]:
plic = json.loads(plic)
type(plic)

dict

In [119]:
sicl = json.loads(sicl)
type(sicl)

dict

In [23]:
type(data)

dict

In [48]:
df = pd.DataFrame(data)

In [65]:
df_ebl = pd.DataFrame(ebl)

In [73]:
df_mnbbl = pd.DataFrame(mnbbl)

In [81]:
df_nabil = pd.DataFrame(nabil)

In [89]:
df_nhpc = pd.DataFrame(nhpc)

In [96]:
df_nlic = pd.DataFrame(nlic)

In [102]:
df_nlicl = pd.DataFrame(nlicl)

In [108]:
df_pcbl = pd.DataFrame(pcbl)

In [114]:
df_plic = pd.DataFrame(plic)

In [120]:
df_sicl = pd.DataFrame(sicl)

In [50]:
df.shape

(1676, 7)

In [67]:
df_ebl.shape

(2128, 7)

In [75]:
df_mnbbl.shape

(1945, 7)

In [83]:
df_nabil.shape

(2081, 7)

In [90]:
df_nhpc.shape

(1782, 7)

In [97]:
df_nlic.shape

(1953, 7)

In [103]:
df_nlicl.shape

(1875, 7)

In [109]:
df_pcbl.shape

(2138, 7)

In [115]:
df_plic.shape

(2064, 7)

In [121]:
df_sicl.shape

(1803, 7)

In [92]:
del df_nhpc['s']

In [53]:
del df['s']

In [68]:
del df_ebl['s']

In [76]:
del df_mnbbl['s']

In [84]:
del df_nabil['s']

In [98]:
del df_nlic['s']

In [104]:
del df_nlicl['s']

In [110]:
del df_pcbl['s']

In [116]:
del df_plic['s']

In [122]:
del df_sicl['s']

In [86]:
nabil = df_nabil.to_csv('nabil.csv')

In [55]:
cit = df.to_csv('cit.csv')

In [70]:
ebl = df_ebl.to_csv('ebl.csv')

In [78]:
mnbbl = df_mnbbl.to_csv('mnbbl.csv')

In [93]:
nhpc = df_nhpc.to_csv('nhpc.csv')

In [99]:
nlic = df_nlic.to_csv('nlic.csv')

In [105]:
nlicl = df_nlicl.to_csv('nlicl.csv')

In [111]:
pcbl = df_pcbl.to_csv('pcbl.csv')

In [117]:
plic = df_plic.to_csv('plic.csv')

In [123]:
sicl = df_sicl.to_csv('sicl.csv')

In [56]:
x = pd.read_csv('cit.csv')

In [58]:
x = x.iloc[:,1:]

In [59]:
x

               t     o     h     l     c         v
0     1311153300    39    39    39    39      3248
1     1311758100    40    40    40    40      1071
2     1312362900    40    40    40    40      1106
3     1312708500    41    41    41    41      1124
4     1312967700    41    41    40    40      8027
...          ...   ...   ...   ...   ...       ...
1671  1601200167  3519  3549  3490  3505  85612360
1672  1601288078  3505  3538  3477  3495  18625688
1673  1601374911  3496  3510  3478  3478  16968652
1674  1601458989  3450  3500  3446  3469  17861284
1675  1601546409  3497  3500  3465  3479  17134216

[1676 rows x 6 columns]